<!--
<h1>logIN</h1>
Email:
<input type="email" [(ngModel)]="email">
Password:
<input type="password" [(ngModel)]="password">
<button (click)="login()">Log in</button>
-->
<div class="box loginBox">
  <h3>Login Here</h3>
  <div class="form" action="#" method="post">
    <div class="f_row-2">
      <input type="email" [(ngModel)]="email" class="input-field" placeholder="Email">
    </div>
    <div class="f_row-2 last">
      <input type="password" [(ngModel)]="password" class="input-field" placeholder="Password">
    </div>
    <button (click)="login()" class="submit-w3">Log in</button>
  </div>
</div>